# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp

# Python
__pycache__/
*.pyc

# Environment / secrets
.env
.env.*

# Power BI temporary/local files
*.pbi-tools-settings